<v-list-tile
    :key="player.id"
    avatar
    ripple
>
    <v-list-tile-content>
        <v-list-tile-sub-title class="text--primary">Name: {{ player.name }}</v-list-tile-sub-title>
        <v-list-tile-sub-title>Current Balance: {{ player.netProfit }}</v-list-tile-sub-title>
    </v-list-tile-content>

    <v-list-tile-action>
        <v-btn color="red" small flat fab @click="removePlayer(player.name)">
            <v-icon>remove_circle</v-icon>
        </v-btn>
    </v-list-tile-action>
</v-list-tile>