<div>
    <v-toolbar
        color="indigo"
        dark
    >
        <v-toolbar-title>Welcome to the Monopoly Banker!</v-toolbar-title>
    </v-toolbar>
    <v-card class="mb-5" height="200px">
        <v-card-text>
            This application seeks to make managing your monoploy game less of a chore.
            The Banker will assist you in managing each player's incomes, expenses and current balances.
            To start using this application please complete the set up process.
        </v-card-text>
    </v-card>
</div>