<v-card>
    <v-card-text>
        <form>
            <v-select
                v-model="payer"
                :items="payerNames"
                label="Who is paying?"
            ></v-select>
            <v-select
                v-model="payee"
                :items="payeeNames"
                label="Who is getting paid?"
            ></v-select>
            <v-text-field
                v-model="amount"
                label="How much is being transfered?"
                type="number"
            ></v-text-field>
            <v-text-field
                v-model="reason"
                label="Why was this payment made?"
            ></v-text-field>
        </form>
    </v-card-text>
    <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn dark color="red" @click="cancelTransaction">Start Over</v-btn>
        <v-btn dark color="green" :disabled="isDisabled" @click="saveTransaction">Save Transaction</v-btn>
    </v-card-actions>
</v-card>
